@use "../../styles/mainStyles.module.scss" as global;

.products {
  margin: 0 auto;
  padding: 1rem 0;
  max-width: 50%;
}

.products.byGrid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

.products.byGrid.bySix {
  grid-template-columns: repeat(3, 1fr);
}

.products.byGrid.byFour {
  grid-template-columns: repeat(2, 1fr);
}

.products.byList {
  display: grid;
  grid-template-columns: 1fr;
  width: 250px;
  gap: 1rem;
}

.products.byList.bySix {
  grid-template-rows: repeat(6, 1fr);
}

.products.byList.byFour {
  grid-template-rows: repeat(4, 1fr);
}

@media screen and (max-width: 480px) {
  .products {
    padding: 1rem 0;
    max-width: 90%;
  }
  .products.byList {
    max-width: auto;
  }
}
